<!DOCTYPE html>
<title>json-time</title>
<h1>json-time</h1>
<ul>
    <li><a href="/time.json">/time.json</a>
    <li><a href="/time.json?tz=America/Chicago">/time.json?tz=America/Chicago</a>
    <li><a href="/time.json?tz=America/Chicago&amp;callback=foo">/time.json?tz=America/Chicago&amp;callback=foo</a>
    <li><a href="/time.json?tz=America/Chicago&amp;callback=foo.bar">/time.json?tz=America/Chicago&amp;callback=foo.bar</a>
</ul>
<p>You may also like <a href="http://json-head.appspot.com/">json-head</a>.
